<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mapkit_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B8116A41ED0570400C00947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B8116BB1ED0570500C00947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B8116C61ED0570500C00947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
